body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0;
    .header {
        width: auto;
        text-align: left;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #eeeeee;
        h2 {
            margin: 0;
        }
    }
    .main {  
        .alert-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .alert-list {
                width: 40%;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .alert {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 50px;
                    border-style: solid;
                    border-width: 3px;
                    border-radius: 2rem;
                }
                .correct-alert {
                    color: green;
                    background-color: #D1FACD;
                    border-color: green;
                }
                
                .incorrect-alert {
                    color: red;
                    background-color: #ffdddd;
                    border-color: red;
                }
                
                .done-alert {
                    color: orange;
                    background-color: #ffffdd;
                    border-color: orange;
                }
            }
        }
        .card-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .card {
                border-style: solid;
                border-width: 3px;
                border-color: gray;
                border-radius: 1rem;
                margin: 10px;
                width: 60%;
                .card-content {
                    margin: 0 10px 0 10px;
                    overflow-wrap: break-word;
                }
                .card-actions {
                    margin: 10px;
                    .answer-button {
                        padding: 10px;
                        background-color: #dddddd;
                        border-style: none;
                        border-radius: 0.4rem;
                        margin: 5px;
                        &:focus {
                            outline: none;
                            background-color: #cccccc;
                        }
                        &.correct-button {
                            background-color: #D1FACD;
                        }
                        &.incorrect-button {
                            background-color: #ffdddd;
                        }
                    }
                }
            }
        }
        .page-actions {
            margin: 10px;
            .start-over-button {
                padding: 10px;
                background-color: #dddddd;
                border-style: none;
                border-radius: 0.4rem;
                margin: 5px;
                &:focus {
                    outline: none;
                    background-color: #cccccc;
                }
            }
        }
    }
}